[submodule "vendors/cppparser/common"]
	path = vendors/cppparser/common
	url = https://github.com/satya-das/common.git
[submodule "vendors/cppparser/CppParser"]
	path = vendors/cppparser/CppParser
	url = https://github.com/satya-das/CppParser.git
[submodule "vendors/tomlplusplus"]
	path = vendors/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
[submodule "external/tomlplusplus"]
	path = external/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "external/argh"]
	path = external/argh
	url = https://github.com/adishavit/argh
[submodule "external/termcolor"]
	path = external/termcolor
	url = https://github.com/ikalnytskyi/termcolor
